
td.wrapper.last
   table.twelve.columns
      tr
       td.expander
          td.left-text-pad
           if socialLinks
              h5=socialLinksTitle
              each link, index in socialLinks
                table(class="tiny-button #{link.class}")
                    tr: td: a(href=link.link)=link.name
                if socialLinks.length !== index + 1
                    br
