
block header
    table.container
        tr
            td.wrapper.last
                table.twelve.columns
                    tr
                        td.six.sub-columns.last
                            img(src=appLogo)
                        td.expander